<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<!-- 打开Spring的注解支持
	 	实际上，在component-scan扫描中，已经包含了该配置，因此可以省略，
	 	当annotation-config和component-scan同时存在的情况下，annotation-config会被忽略
	 	annotation-config只对已经注册的bean生效，对Service等注解是不生效的
	 -->
	<!--<context:annotation-config />-->

	<!-- 自动扫描配置,扫描Service -->
	<context:component-scan base-package="com.*">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

</beans>
